<!-- Header -->

<div style="background-image: url(img/header-bg.jpg)" class="call_to_action call_to_action--15" id="header">
	<div class="container">
		<div class="features__logo_box--01"><img src="img/logo-hackaholdem-bulb@2x.png" class="features__logo--01"></div>
		<p><span id="text-tag">FEB 3RD - 4TH, 2018, SLIGO, IRELAND</span></p>
		<h2 class="call_to_action__title" id="header-title">HACKAHOLD'EM</h2><span class="call_to_action__text call_to_action__text--11" id="header-sub">A hackathon with a difference!<br>This fun and unusual Hackathon is inspired by texas hold'em</span>
		<div class="reg-btn"><a href="https://hackaholdem.typeform.com/to/WhOAhs" target="_blank" class="button button--white button--black-shadow" id="custom-btn">Register Now</a></div>
	</div>
</div>


<div class="features features--04" id="concept">
	<div class="features__container--04">
		<div class="container">
			<div class="features__box--04 features__box--left-margin--04" id="sub-heading-box-right">
				<div class="features__logo_box--01" id="mobile-only"><img src="img/sub1-right-mobile@2x.jpg" class="features__logo--01"></div>
				<h3 class="features__item_title--04" id="sub-heading-right">Hackathon where you make something cool within 24 hours</h3>
			</div>
			<div style="background-image: url(img/sub1-left.jpg)" class="features__box--04 features__box--image--04 features__box--image--left--04" id="sub-bg-desktop"></div>
		</div>
	</div>
	<div class="features__container--04">
		<div class="container">
			<div class="features__box--04" id="sub-heading-box-left">
				<div class="features__logo_box--01" id="mobile-only"><img src="img/sub1-left-mobile@2x.jpg" class="features__logo--01"></div>
				<h3 class="features__item_title--04" id="sub-heading-left">Similar to how you play a poker game, but more unique and fun</h3>
			</div>
			<div style="background-image: url(img/sub1-right.jpg)" class="features__box--04 features__box--image--04 features__box--image--right--04" id="sub-bg-desktop"></div>
		</div>
	</div>
	<div class="features__container--04">
		<div class="container">
			<div class="features__box--04 features__box--left-margin--04" id="sub-heading-box-right">
				<div class="features__logo_box--01" id="mobile-only"><img src="img/sub1-right-mobile-2@2x.jpg" class="features__logo--01"></div>
				<h3 class="features__item_title--04" id="sub-heading-right">Participant's buy-in money will be the prize money</h3>
			</div>
			<div style="background-image: url(img/sub1-left-2.jpg)" class="features__box--04 features__box--image--04 features__box--image--left--04" id="sub-bg-desktop"></div>
		</div>
	</div>
</div>


<div class="call_to_action call_to_action--02 call_to_action--picture" id="headline">
	<div class="container">
		<p id="center-icon"><i class="material-icons md-48 md-light">stars</i></p>
	  	<div class="call_to_action__title call_to_action__title--02" id="headline-text">You will receive poker chips, and the team which has the most chips at the end will be crowned the winner!</div>
	</div>
</div>


<!-- Main -->
<div id="main">
	<div class="inner">
		<div class="columns">
			<div class="image fit">
				<a><img src="img/card-a@2x.jpg" alt="" /></a>
				<div class="box-caption">
                    <img src="img/num-1@2x.png" id="card-icon" alt="">
                    <img src="img/heart@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Buy in Chips = &euro;30</h3>
                    	<p class="box-text">The total buy in money will make up the sum of the <span class="box-text-emp">prize money!</span></p>
                    	<p><span class="box-sub">Earn 30 chips</span></p>
                    </div>
                </div>
			</div>
			<div class="image fit">
				<a><img src="img/card-c@2x.jpg" alt="" /></a>
				<div class="box-caption">
					<img src="img/num-2@2x.png" id="card-icon" alt="">
                    <img src="img/clover@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Team Up!</h3>
                    	<p class="box-text">There are three categories: <br><span class="box-text-emp">Developer, Designer, and Strategist</span> You will receive a single poker card, and be teamed up with two other people who hold the same cards.<br>Each category has the same suit, so all teams will have one person from each category.</p>
                    	<p><span class="box-sub">Each team will have 90 poker chips</span></p>
                    </div>
                </div>
			</div>
			<div class="image fit">
				<a><img src="img/card-b@2x.jpg" alt="" /></a>
				<div class="box-caption">
                    <img src="img/num-3@2x.png" id="card-icon" alt="">
                    <img src="img/diamond@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Vote for Theme</h3>
                    	<p class="box-text">The theme for Hackahold'em will be decided by a vote. Your team can <span class="box-text-emp">use from 1 to 10 poker chips to vote.</span> The winning theme will be the main focus of your product scope.
                    	<p><span class="box-sub">Use 1 to 10 chips</span></p>
                    </div>
                </div>
			</div>

			<div class="image fit">
				<a><img src="img/card-c@2x.jpg" alt="" /></a>
				<div class="box-caption">
					<img src="img/num-4@2x.png" id="card-icon" alt="">
                    <img src="img/spade@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Idea Submission</h3>
                    	<p class="box-text">Your team will be given an hour to decide the product concept. Each team needs to <span class="box-text-emp">submit a brief idea description</span> via Google Docs before the 1 hour deadline. Your team will lose 10 chips if the Google Docs link is not submitted by the deadline.
                    	<p><span class="box-sub">May lose 10 chips</span></p>
                    </div>
                </div>
			</div>
			<div class="image fit">
				<a><img src="img/card-b@2x.jpg" alt="" /></a>
				<div class="box-caption">
					<img src="img/num-5@2x.png" id="card-icon" alt="">
                    <img src="img/heart@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Working on it!</h3>
                    	<p class="box-text">Now, you can just focus on your product building overnight. Remember, this is a Hackathon. You must build some <span class="box-text-emp">prototype that actually functions.</span></p>
                    </div>
                </div>
			</div>
			<div class="image fit">
				<a><img src="img/card-b@2x.jpg" alt="" /></a>
				<div class="box-caption">
					<img src="img/num-6@2x.png" id="card-icon" alt="">
                    <img src="img/clover@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Code Submission</h3>
                    	<p class="box-text">You should <span class="box-text-emp">submit your code via Github</span> and provide the share link before noon. You will lose 10 chips if you submit late.</p>
                    	<p><span class="box-sub">May lose 10 chips</span></p>
                    </div>
                </div>
			</div>
			<div class="image fit">
				<a><img src="img/card-a@2x.jpg" alt="" /></a>
				<div class="box-caption">
					<img src="img/num-7@2x.png" id="card-icon" alt="">
                    <img src="img/diamond@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Demo Showdown!</h3>
                    	<p class="box-text">Every team will show its product demo.</p>
                    </div>
                </div>
			</div>
			<div class="image fit">
				<a><img src="img/card-b@2x.jpg" alt="" /></a>
				<div class="box-caption">
					<img src="img/num-8@2x.png" id="card-icon" alt="">
                    <img src="img/spade@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Voting</h3>
                    	<p class="box-text">All teams must <span class="box-text-emp">use 30 poker chips to vote</span> for their favourite products. You can choose one or multiple favourite products. The poker chips you use for voting will go to the team you vote for.</p>
                    	<p><span class="box-sub">Use 30 chips</span></p>
                    </div>
                </div>
			</div>
			<div class="image fit">
				<a><img src="img/card-a@2x.jpg" alt="" /></a>
				<div class="box-caption">
					<img src="img/num-8@2x.png" id="card-icon" alt="">
                    <img src="img/spade@2x.png" id="card-icon" alt="">
                    <div class="box-text-area">
                    	<h3 class="box-heading">Winner!</h3>
                    	<p class="box-text">The team who <span class="box-text-emp">has the most poker chips</span> at the end will be the winner just like in a poker game.</p>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>


<div class="call_to_action call_to_action--02 call_to_action--picture" id="warning">
	<div class="container">
		<p id="center-icon"><i class="material-icons md-48 md-light">warning</i></p>
	  	<div class="call_to_action__title call_to_action__title--02" id="headline-text">This is not a gambling event. We will just use some aspects of a poker game for a fun hackathon event. No bets are required.</div>
	</div>
</div>


<div style="background-image: url(img/bg-buildingblock.jpg)" class="cover cover--05 js-cover" id="venue-bg">
	<div class="container">
		<div class="venue">
			<p id="center-icon"><i class="material-icons md-48 md-light">pin_drop</i></p>
			<h2 class="call_to_action__title" id="header-title">FEB 3 - 4, 2018<br>THE BUILDING BLOCK, SLIGO, IRELAND</h2>
			<span class="call_to_action__text call_to_action__text--11" id="header-sub">The first event is taking place in The Building Block (buddy) and starts at 1:30pm on Febrary 3rd, and finishes at 2pm on Febrary 4th.</span>
			<div class="reg-btn"><a href="https://www.google.ie/maps/place/The+Building+Block/@54.2717729,-8.4741589,17z/data=!3m1!4b1!4m5!3m4!1s0x485ec31263852071:0xfeb9162ecbd32b21!8m2!3d54.2717729!4d-8.4719649" class="button button--white" target="_blank" id="custom-btn">Check Google Map</a></div>
		</div>
	</div>
</div>


<div class="team team--02" id="buddy">
	<div class="container">
		<p id="center-icon"><i class="material-icons md-48 md-light">accessibility</i></p>
	  	<div class="call_to_action__title call_to_action__title--02" id="headline-text">Our Buddies</div>
	  	<span class="call_to_action__text call_to_action__text--11" id="header-sub">These friends help make Hackahold'em more fun and enjoyable.</span>
	</div>
	<div class="team__box team__box--02" id="buddy-content">
		<div class="team__item team__item--02">
			<div style="background-image:url(img/overstock@2x.png)" class="team__item_photo"></div>
			<h3 class="buddy-heading">Overstock</h3>
        	<p class="buddy-text">One of the largest online retailers</p>
        	<a href="https://www.overstock.com/" target="_blank"><p><span class="buddy-sub">Learn More</span></p></a>
		</div>
		<div class="team__item team__item--02">
			<div style="background-image:url(img/tbb@2x.png)" class="team__item_photo"></div>
			<h3 class="buddy-heading">Building Block</h3>
        	<p class="buddy-text">One of the best coworking spaces in Sligo.</p>
        	<a href="http://www.thebuildingblock.ie/" target="_blank"><p><span class="buddy-sub">Learn More</span></p></a>
		</div>
		<div class="team__item team__item--02">
			<div style="background-image:url(img/bb-empty@2x.png)" class="team__item_photo"></div>
			<h3 class="buddy-heading">Hackahold'em</h3>
        	<p class="buddy-text">We are the founding team that initiated Hackahold'em.</p>
        	<a href="https://www.linkedin.com/in/noelmulkeen" target="_blank"><p><span class="buddy-sub">Noel Mulkeen</span></p></a>
        	<a href="https://www.linkedin.com/in/andrewyhc" target="_blank"><p><span class="buddy-sub">YoungHwi Cho</span></p></a>
		</div>
		<div class="team__item team__item--02">
			<div style="background-image:url(img/bb-more@2x.png)" class="team__item_photo"></div>
			<h3 class="buddy-heading">More Buddies</h3>
        	<p class="buddy-text">We are currently discussing bringing more buddies on board to support Hackahold'em. Please contact us via email.</p>
        	<a href="mailto:hackaholdem@gmail.com" target="_blank"><p><span class="buddy-sub">Email Us</span></p></a>
		</div>
	</div>
</div>

<div class="team team--02" id="register">
	<div class="container">
		<div id="snow">
			<div id="reg-content-area">
				<div class="features__logo_box--01"><img src="img/logo-hackaholdem-bulb@2x.png" class="features__logo--01"></div>
			  	<div class="call_to_action__title" id="reg-text">Buy-in Chips &euro;30<br>will all go towards the prize money!</div>
			  	<span class="call_to_action__text call_to_action__text--11" id="reg-sub">No pre-payment is required. If you are students, Overstock will support 50% of your buy-in poker chips. Please specify if you are a student when you register.</span>
			  	<div class="reg-btn"><a href="https://hackaholdem.typeform.com/to/WhOAhs" target="_blank"  class="button button--white button--black-shadow" id="custom-btn">Register Now</a></div>
		  	</div>
  		</div>
	</div>
</div>


<div style="background-image: url(img/header-bg.jpg)" id="footer">
	<div class="container" id="footer-area">
		<p><img src="img/hh-logo@3x.png" id="footer-logo"></p>
		<h2 class="call_to_action__title" id="footer-title">HACKAHOLD'EM</h2>
		<p id="footer-text">Please email us via hackaholdem@gmail.com if you have any questions or inquires.</p>
		<div class="social">
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/hackaholdem" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="mailto:hackaholdem@gmail.com"><i class="fa fa-envelope"></i></a></li>
			</ul>
		</div>
	    <span class="footer__copyright footer__copyright--05" id="footer-copyright">&copy; hackaholdem.com, 2017</span>
	</div>
</div>









