<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hackahold'em</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="World first self-funding and self-voting casual hackathon, just like enjoying Texas Hold'em with your friends.">
    <meta name="keywords" content="hackathon, texas holdem, hack, hacka, developers, start-up, event, community, sligo, ireland, hackathon ireland, coding"/>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
